.card {
  display: inline-block;
  transition: transform 0.2s ease;
}

.card:hover {
  transform: scale(1.1);
}

.carousel-control-prev,
.carousel-control-next {
  bottom: 83%;
}

.carousel-control-prev {
  left: 80%;
}

.heading {
  display: inline-block;
}

.midder2 {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(100%, #537fff),
    color-stop(-3%, #1e26c2)
  );
}

.midder1 {
  background-image: -webkit-gradient(
    linear,
    right top,
    left top,
    color-stop(99%, #91b86f),
    color-stop(-3%, #059b8b)
  );
}

p {
  display: inline;
}
